In [1]:
#%% Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [27]:
#%% Importing Data
flights_data = pd.read_csv('~/Desktop/data/flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('~/Desktop/data/weather.csv')
weather_data_np = weather_data_pd.to_numpy()
flights_data.head(10)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
5,6,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
6,7,2013,1,1,555.0,-5.0,913.0,19.0,B6,N516JB,507,EWR,FLL,158.0,1065,5.0,55.0
7,8,2013,1,1,557.0,-3.0,709.0,-14.0,EV,N829AS,5708,LGA,IAD,53.0,229,5.0,57.0
8,9,2013,1,1,557.0,-3.0,838.0,-8.0,B6,N593JB,79,JFK,MCO,140.0,944,5.0,57.0
9,10,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0

In [24]:
#%% Pandas Data Filtering/Sorting Question Answering
#use flights_data
#Question 1 How many flights were there from JFK to SLC? Int
flights_data.head(10)
number_of_flights_jfk_slc = len(flights_data[(flights_data.origin=='JFK') & (flights_data.dest=='SLC')])
print(number_of_flights_jfk_slc)
type(number_of_flights_jfk_slc)

2113

int

In [25]:
#Question 2 How many airlines fly to SLC? Should be int
number_of_flights_to_slc = len(flights_data[(flights_data.dest=='SLC')])
print(number_of_flights_to_slc)
type(number_of_flights_to_slc)

2467

int

In [39]:
#Question 3 What is the average arrival delay for flights to RDU? float
average_arrival_delay_RDU = flights_data[(flights_data.dest=='RDU')]['arr_delay'].mean()
print(average_arrival_delay_RDU)
type(average_arrival_delay_RDU)

10.052380952380952

float

In [47]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
prop = len(flights_data[(flights_data.dest=='SEA') & (flights_data.origin=='JFK')])/len(flights_data[flights_data.dest=='SEA'])
print(prop)
type(prop)
flights_data

0.5332653581442773

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,336772,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3393,JFK,DCA,NaN,213,NaN,NaN
336772,336773,2013,9,30,NaN,NaN,NaN,NaN,9E,NaN,3525,LGA,SYR,NaN,198,NaN,NaN
336773,336774,2013,9,30,NaN,NaN,NaN,NaN,MQ,N535MQ,3461,LGA,BNA,NaN,764,NaN,NaN
336774,336775,2013,9,30,NaN,NaN,NaN,NaN,MQ,N511MQ,3572,LGA,CLE,NaN,419,NaN,NaN
336775,336776,2013,9,30,NaN,NaN,NaN,NaN,MQ,N839MQ,3531,LGA,RDU,NaN,431,NaN,NaN

In [64]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
flights_data["date"] = pd.to_datetime(flights_data[["year", "month", "day"]])
flights_data.loc[flights_data['dep_delay'] == flights_data['dep_delay'].max()]
print(1301.0)
print('2013-01-09')

1301.0
2013-01-09

In [ ]:
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
flights_data["date"] = pd.to_datetime(flights_data[["year", "month", "day"]])
flights_data.loc[flights_data['arr_delay'] == 1272.0]
print(1272.0)
print('2013-01-09')

In [69]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
flights_data["speed"] = (flights_data["distance"]/flights_data["air_time"])
flights_data["speed"].max()
flights_data.loc[flights_data['speed'] == 11.723076923076922]
print(11.723076923076922)
print(216448)

11.723076923076922
216448

In [72]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
weather_data_pd.fillna(0)

,Unnamed: 0,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
743,744,EWR,2013,2.0,1.0,0.0,33.08,15.08,47.10,270.0,20.71404,23.837303,0.0,1006.6,10.0
744,745,EWR,2013,2.0,1.0,1.0,32.00,19.04,58.37,250.0,17.26170,19.864419,0.0,1007.3,10.0
745,746,EWR,2013,2.0,1.0,2.0,32.00,10.04,39.38,260.0,28.76950,33.107365,0.0,1008.0,10.0
746,747,EWR,2013,2.0,1.0,3.0,30.92,6.98,35.84,260.0,27.61872,31.783071,0.0,1008.5,10.0
747,748,EWR,2013,2.0,1.0,4.0,30.02,8.06,39.03,260.0,14.96014,17.215830,0.0,1008.9,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1409,1410,EWR,2013,2.0,28.0,21.0,46.04,28.94,51.03,280.0,9.20624,10.594357,0.0,1000.8,10.0
1410,1411,EWR,2013,2.0,28.0,22.0,44.96,26.96,49.02,260.0,10.35702,11.918651,0.0,1001.2,10.0
1411,1412,EWR,2013,2.0,28.0,23.0,44.06,26.06,48.87,260.0,11.50780,13.242946,0.0,1001.8,10.0
8709,8710,JFK,2013,2.0,18.0,4.0,17.96,-0.94,42.69,290.0,29.92028,34.431660,0.0,1016.2,10.0
8710,8711,JFK,2013,2.0,20.0,19.0,32.00,8.06,36.03,280.0,26.46794,30.458776,0.0,1011.2,10.0

In [73]:
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int
len(weather_data_pd.loc[weather_data_pd['month'] == 2.0])

671

In [75]:
#Question 10 What was the mean for humidity in February? Float

mean = weather_data_pd[(weather_data_pd.month== 2.0)]['humid'].mean()
print(mean)
type(mean)

62.918152011922515

float

In [77]:
#Question 11 What was the std for humidity in February? Float
sd = weather_data_pd[(weather_data_pd.month== 2.0)]['humid'].std()
print(sd)
type(sd)

20.352072009682594

float